<mat-toolbar class="main-header">  
    <div>
        <button (click)="openSidenav()" mat-icon-button class="menu-toggle" *ngIf="toggle_icon">
            <mat-icon>{{ toggle_icon }}</mat-icon>
        </button>
        <span class="mat-body-4 current" *ngIf="resolution >= 568">Dashboard</span>
    </div>
    <div>
        <mat-form-field style="font-size:14px;">
            <span matPrefix> &nbsp;</span>
            <input type="tel" matInput placeholder="Search..">
        </mat-form-field>
        <button mat-icon-button ><mat-icon>search</mat-icon></button>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item>
                <mat-icon>person</mat-icon>
                <span>Mark Angelo Sila</span>
            </button>
            <button mat-menu-item>
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </button>
            <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
        <mat-menu #moreRevert="matMenu">
            <button mat-menu-item>
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="notifMenu" (click)="notif = true">
                <mat-icon matBadge="4" matBadgeSize="small" matBadgeColor="warn" [matBadgeHidden]="notif">notifications</mat-icon>
                <span>Notifications</span>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="userMenu">
                <mat-icon>account_circle</mat-icon>
                <span>Account</span>
            </button>
        </mat-menu>
        <mat-menu #notifMenu="matMenu">
                <button mat-menu-item><b>Mark Angelo</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vehicula, diam ut aliquam lobortis, arcu odio cursus magna, eu lacinia ante leo non ipsum. </button>
                <button mat-menu-item><b>Mark Angelo</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vehicula, diam ut aliquam lobortis, arcu odio cursus magna, eu lacinia ante leo non ipsum. </button>
                <button mat-menu-item><b>Mark Angelo</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vehicula, diam ut aliquam lobortis, arcu odio cursus magna, eu lacinia ante leo non ipsum. </button>
        </mat-menu>
        <button *ngIf="resolution >= 411" mat-icon-button matTooltip="Dashboard">
            <mat-icon>dashboard</mat-icon>
        </button>
        <button *ngIf="resolution >= 411" mat-icon-button [matMenuTriggerFor]="notifMenu" (click)="notif = true" matTooltip="Notifications">
            <mat-icon matBadge="4" matBadgeSize="small" matBadgeColor="warn" [matBadgeHidden]="notif">notifications</mat-icon>
        </button>
        <button *ngIf="resolution >= 411" mat-icon-button [matMenuTriggerFor]="userMenu" matTooltip="Account">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button *ngIf="resolution < 411" mat-icon-button [matMenuTriggerFor]="moreRevert" matTooltip="Account">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</mat-toolbar>